header {
  display: flex;
  justify-content: center;
  background-color: #569c87;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -10px;
  color: #fcca46;
  width: 100%;
}

.box-mail {
  text-align: center;
}

.box-mail p {
  font-size: 20px;
}

.mail {
  color: #569c87;
  font-size: 50px;
  border-bottom: 2px solid #569c87;
}

.mention {
  margin-left: 2%;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 10%;
  line-height: 18px;
}
.mention__h2 {
  text-decoration: underline;
  margin-top: 4%;
}
.mention__h3 {
  font-weight: lighter;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mention {
    font-size: 25px;
    line-height: 26px;
  }
}
body {
  width: 100%;
  margin: 0;
  padding: 1px 0 0 0;
}

img {
  width: 400px;
  height: 500px;
  border: 2px black solid;
  box-shadow: 1px 1px 5px black;
}

.container-loupe {
  background-color: #dbdbdb;
  width: 100%;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}

#loupe {
  width: 50px;
  height: 50px;
  box-shadow: none;
  border: none;
}

.container-menu {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 409px 409px;
  grid-template-rows: 509px 509px;
  grid-gap: 100px;
  margin: 5% 0 5% 0;
  width: 100%;
}
.container-menu__element {
  transition: transform 500ms;
}
.container-menu__element:hover {
  transform: scale(1.15);
  border: #1ce21c 2px solid;
  opacity: 0.7;
}

ul {
  display: flex;
  justify-content: center;
  width: 10%;
  padding-top: 2%;
}

ul li {
  width: 15px;
  animation: load 1.4s linear infinite;
}

.box {
  display: flex;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #569c87;
  width: 20%;
  margin-bottom: 10%;
  padding-left: 1.5%;
  font-size: 30px;
  border-radius: 10px;
  font-family: Arial;
  color: #fcca46;
}
.container-btn__txt {
  padding-left: 2%;
}

a {
  text-decoration: none;
  color: #fcca46;
}
a:hover {
  color: yellow;
}

.footer {
  text-align: center;
  background-color: #569c87;
  color: #fcca46;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  font-family: Arial;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.footer__elmnt {
  animation: wiggle 3s infinite;
  padding: 0 1% 0 1%;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-2deg);
  }
  4% {
    transform: rotate(2deg);
  }
  5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
ul li:nth-child(1) {
  animation-delay: 0s;
}

ul li:nth-child(2) {
  animation-delay: -1.2s;
}

ul li:nth-child(3) {
  animation-delay: -1s;
}

@media screen and (min-width: 768px) and (max-width: 1350px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
  }

  header {
    letter-spacing: -5px;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 15%;
    padding-top: 2%;
    padding: 0;
  }

  #loupe {
    width: 3.8vw;
    height: 3.8vw;
    box-shadow: none;
    border: none;
  }

  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #569c87;
    width: 20%;
    margin-bottom: 10%;
    padding-left: 1.5%;
    font-size: 2vw;
    border-radius: 10px;
    font-family: Arial;
    color: #fcca46;
  }
  .container-btn__txt {
    padding-left: 2%;
    margin-right: 15%;
  }

  img {
    width: 30vw;
    height: 40vw;
    border: 2px black solid;
    box-shadow: 1px 1px 5px black;
  }

  .container-menu {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 30.7vw 30.7vw;
    grid-template-rows: 40.7vw 40.7vw;
    grid-gap: 100px;
    margin: 5% 0 5% 0;
    width: 100%;
  }
  .container-menu__element {
    transition: transform 500ms;
  }
  .container-menu__element:hover {
    transform: scale(1.15);
    border: none;
    opacity: 0.7;
  }

  .footer {
    text-align: center;
    background-color: #569c87;
    color: #fcca46;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.8vw;
    font-family: Arial;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .footer__elmnt {
    animation: wiggle 3s infinite;
    padding: 0 1% 0 1%;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
  }

  header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #569c87;
    font-size: 6vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    color: #fcca46;
    width: 100%;
  }

  #loupe {
    width: 5vw;
    height: 5vw;
    box-shadow: none;
    border: none;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 15%;
    padding-top: 2%;
    padding-left: 3%;
  }

  ul li {
    width: 15px;
    animation: load 1.4s linear infinite;
  }

  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #569c87;
    width: 27%;
    margin-bottom: 10%;
    padding-left: 2.5%;
    font-size: 3vw;
    border-radius: 10px;
    font-family: Arial;
    color: #fcca46;
  }
  .container-btn__txt {
    padding-left: 2%;
    margin-right: 15%;
  }

  img {
    width: 90vw;
    height: 100vw;
    margin-top: 5%;
    border: 2px black solid;
    box-shadow: 1px 1px 5px black;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container-menu__element {
    transition: transform 500ms;
  }
  .container-menu__element:hover {
    transform: scale(1.15);
    border: none;
    opacity: 0.7;
  }

  .footer {
    text-align: center;
    background-color: #569c87;
    color: #fcca46;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3.5vw;
    font-family: Arial;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .footer__elmnt {
    animation: wiggle 3s infinite;
    padding: 0 1% 0 1%;
  }
}

/*# sourceMappingURL=main.css.map */
