/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: "Rundkursiv";
  src: url("Rundkursiv.eot");
  src: url("Rundkursiv.eot?#iefix") format("embedded-opentype"), url("Rundkursiv.woff2") format("woff2"), url("Rundkursiv.woff") format("woff"), url("Rundkursiv.ttf") format("truetype"), url("Rundkursiv.svg#Rundkursiv") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heuristica";
  src: url("Heuristica-Regular.eot");
  src: url("Heuristica-Regular.eot?#iefix") format("embedded-opentype"), url("Heuristica-Regular.woff2") format("woff2"), url("Heuristica-Regular.woff") format("woff"), url("Heuristica-Regular.ttf") format("truetype"), url("Heuristica-Regular.svg#Heuristica-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #569c87;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -0.5rem;
  color: #fcca46;
  width: 100%;
}

.container-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  font-size: 30px;
  width: 100%;
}

.container-menu {
  text-align: center;
  border: 2px black solid;
  background-color: #faf0ef;
  margin: 0 20% 5% 20%;
  height: 1000px;
  padding-top: 3%;
}
.container-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.container-menu__box__txt {
  text-align: left;
  margin-left: 15%;
  width: 100%;
}
.container-menu__box__prix {
  text-align: left;
  font-weight: bold;
  width: 30%;
}

.sous-T {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
}

#S-T-1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #1100fc;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#S-T-1:hover::after {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#S-T-2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #7275f7;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#S-T-2:hover::after {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#S-T-3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #8eacff;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#S-T-3:hover::after {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.color-1 {
  color: #1100fc;
}

.color-2 {
  color: #7275f7;
}

.color-3 {
  color: #8eacff;
}

.trait-G {
  color: transparent;
  background-color: #1100fc;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.trait-D {
  color: transparent;
  background-color: #1100fc;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.trait-G-2 {
  color: transparent;
  background-color: #7275f7;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.trait-D-2 {
  color: transparent;
  background-color: #7275f7;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.trait-G-3 {
  color: transparent;
  background-color: #8eacff;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.trait-D-3 {
  color: transparent;
  background-color: #8eacff;
  font-size: 4px;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 20%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

body {
  width: 100%;
  margin: 0;
  padding: 1px 0 0 0;
}

h3 {
  font-family: "Rundkursiv";
  font-size: 3.5em;
  margin-top: -0.5%;
  background-image: -webkit-gradient(linear, left top, right top, from(#1100fc), to(#8eacff));
  background-image: -o-linear-gradient(left, #1100fc, #8eacff);
  background-image: linear-gradient(to right, #1100fc, #8eacff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h4 {
  font-size: 1.5em;
}

h4, p {
  font-family: "Heuristica";
}

p {
  font-size: 0.8vw;
}

a {
  text-decoration: none;
  color: #fcca46;
}
a:hover {
  color: yellow;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box__btn {
  background-color: #569c87;
  text-align: center;
  width: 15%;
  margin-bottom: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
  border-radius: 10px;
  font-family: Arial;
  color: #fcca46;
  cursor: pointer;
  -webkit-transition: background-color 500ms, -webkit-transform 500ms;
  transition: background-color 500ms, -webkit-transform 500ms;
  -o-transition: transform 500ms, background-color 500ms;
  transition: transform 500ms, background-color 500ms;
  transition: transform 500ms, background-color 500ms, -webkit-transform 500ms;
}
.box__btn:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #387e69;
}

.footer {
  text-align: center;
  background-color: #569c87;
  color: #fcca46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  font-family: Arial;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.footer__elmnt {
  -webkit-animation: wiggle 3s infinite;
          animation: wiggle 3s infinite;
  padding: 0 1% 0 1%;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  3% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  4% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  3% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  4% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1350px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
  }

  .container-titre {
    font-size: 2.3vw;
  }

  .container-menu {
    margin: 0 15% 5% 15%;
    height: auto;
  }
  .container-menu__box {
    width: 100%;
  }
  .container-menu__box__txt {
    text-align: left;
    margin-left: 15%;
    width: 100%;
  }
  .container-menu__box__prix {
    width: 30%;
  }

  .box__btn {
    width: 15%;
    font-size: 2vw;
  }

  .footer {
    font-size: 2vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
  }

  header {
    font-size: 9vw;
  }

  .container-titre {
    font-size: 2.6vw;
  }

  .container-menu {
    margin: 0 10% 10% 10%;
    height: auto;
  }
  .container-menu__box {
    width: 100%;
  }
  .container-menu__box__txt {
    text-align: left;
    margin-left: 0%;
    width: 100%;
  }
  .container-menu__box__prix {
    width: 10%;
  }

  .box__btn {
    width: 15%;
    font-size: 3vw;
  }

  .trait-G {
    height: 1%;
    margin-top: 7%;
  }

  .trait-D {
    height: 1%;
    margin-top: 7%;
  }

  .trait-G-2 {
    height: 1%;
    margin-top: 7%;
  }

  .trait-D-2 {
    height: 1%;
    margin-top: 7%;
  }

  .trait-G-3 {
    height: 1%;
    margin-top: 7%;
  }

  .trait-D-3 {
    height: 1%;
    margin-top: 7%;
  }

  .footer {
    font-size: 3.1vw;
  }

  h3 {
    font-size: 6vw;
  }

  h4 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2.3vw;
  }
}