@font-face {
    font-family: 'Rundkursiv';
    src: url('Rundkursiv.eot');
    src: url('Rundkursiv.eot?#iefix') format('embedded-opentype'),
        url('Rundkursiv.woff2') format('woff2'),
        url('Rundkursiv.woff') format('woff'),
        url('Rundkursiv.ttf') format('truetype'),
        url('Rundkursiv.svg#Rundkursiv') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica';
    src: url('Heuristica-Regular.eot');
    src: url('Heuristica-Regular.eot?#iefix') format('embedded-opentype'),
        url('Heuristica-Regular.woff2') format('woff2'),
        url('Heuristica-Regular.woff') format('woff'),
        url('Heuristica-Regular.ttf') format('truetype'),
        url('Heuristica-Regular.svg#Heuristica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
    $color-primary: rgb(86, 156, 135);
    $color-secondary: rgb(252, 202, 70);
    $cd-btn-end: rgb(56, 126, 105);
    
    
    // header//--------------------->
header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $color-primary;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -10px;
    color: $color-secondary;
    width: 100%;
}
    // body//--------------------->
.container-titre{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
}

.container-menu{
    text-align: center;
    border: 2px black solid;
    background-color: #faf0ef;
    margin: 0 20% 5% 20%;
    height: 1000px;
    padding-top: 3%;
    

    &__box{
        display: flex;
        width: 100%;

        &__txt{
            text-align: left;
            margin-left: 15%;
            width: 100%;
        }

        &__prix{
            text-align: left;
            font-weight: bold;
            width: 30%;
        }
    }
}
.sous-T{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

#S-T-1{
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background:rgb(17, 0, 252);
        transition: width .5s;
    }
    
    &:hover::after{
        width: 100%;
        transition: .5s;
    }
}

#S-T-2{
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background:rgb(114, 117, 247);
        transition: width .5s;
    }
    
    &:hover::after{
        width: 100%;
        transition: .5s;
    }
}

#S-T-3{
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background:rgb(142, 172, 255);
        transition: width .5s;
    }
    
    &:hover::after{
        width: 100%;
        transition: .5s;
    }
}

.color-1{
    color: rgb(17, 0, 252);
}

.color-2{
    color: rgb(114, 117, 247);
}

.color-3{
    color: rgb(142, 172, 255);
}

.trait-G{
    color: transparent;
    background-color: rgb(17, 0, 252);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.trait-D{
    color: transparent;
    background-color: rgb(17, 0, 252);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.trait-G-2{
    color: transparent;
    background-color: rgb(114, 117, 247);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.trait-D-2{
    color: transparent;
    background-color: rgb(114, 117, 247);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.trait-G-3{
    color: transparent;
    background-color: rgb(142, 172, 255);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.trait-D-3{
    color: transparent;
    background-color: rgb(142, 172, 255);
    font-size: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}



body{
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
}

h3{
    font-family: 'Rundkursiv';
    font-size: 3.5em;
    margin-top: -0.5%;
    background-image: linear-gradient(to right, rgb(17, 0, 252), rgb(142, 172, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h4{
    font-size: 1.5em;
}



h4, p{
    font-family: 'Heuristica';
}

p{
 font-size: 0.8vw;
}

a{
    text-decoration: none;
    color: $color-secondary;
    
    &:hover{
        color: yellow;
    }
}
// bouton//--------------------->
.box{
    display: flex;
    justify-content: center;

        &__btn {
        background-color: $color-primary;
        text-align: center;
        width: 15%;
        margin-bottom: 8%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 30px;
        border-radius: 10px;
        font-family: Arial;
        color: $color-secondary;
        cursor: pointer;
        transition: transform 500ms, background-color 500ms;
        
            &:hover{
                transform: scale(1.15);
                background-color: $cd-btn-end; 
            }
        }
}

// footer//--------------------->
.footer{
    text-align: center;
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 25px;
    font-family: Arial;
    position: fixed;
    bottom: 0px;
    width: 100%;

    &__elmnt{
        animation: wiggle 3s (infinite);
        padding: 0 1% 0 1%;
    }
}


// Keyframes//--------------------->
@keyframes wiggle{
0% {transform: rotate(0deg)}
3% {transform: rotate(-2deg)}
4% {transform: rotate(2deg)}
5% {transform: rotate(0deg)}
100% {transform: rotate(0deg)}
}

// mediaqueries//--------------------->
@media screen and (min-width: 768px) and (max-width: 1350px){
    body{
        width: 100%;
        margin: 0;
        padding: 1px 0 0 0;
    }
    
    .container-titre{
        font-size: 2.3vw;
    }

    header{
        letter-spacing: -5px;
    }

    .container-menu{
        margin: 0 15% 5% 15%;
        height: auto;
        
    
        &__box{
            width: 100%;
    
            &__txt{
                text-align: left;
                margin-left: 15%;
                width: 100%;
            }
    
            &__prix{
                width: 30%;
            }
        }
    }

    .box{

        &__btn {
        width: 15%;
        font-size: 2vw;
        }
    }

    .footer{
        font-size: 2vw;
    }

    h3{
        font-size: 4vw;
    }

    h4{
        font-size: 1.5vw;
    }

    p{
        font-size: 1.2vw;
    }

}
@media screen and (max-width: 767px){
    body{
        width: 100%;
        margin: 0;
        padding: 1px 0 0 0;
    }

    header{
        font-size: 9vw;
        letter-spacing: -2px;
    }

    .container-titre{
        font-size: 2.6vw;
    }

    .container-menu{
        margin: 0 10% 10% 10%;
        height: auto;
        
    
        &__box{
            width: 100%;
    
            &__txt{
                text-align: left;
                margin-left: 0%;
                width: 100%;
            }
    
            &__prix{
                width: 10%;
            }
        }
    }

    .box{
    
            &__btn {

            width: 15%;
            font-size: 3vw;
            }
    }

    .trait-G{
        height: 1%;
        margin-top: 7%;
    }
    
    .trait-D{
        height: 1%;
        margin-top: 7%;
    }
    
    .trait-G-2{
        height: 1%;
        margin-top: 7%;
    }
    
    .trait-D-2{
        height: 1%;
        margin-top: 7%;
    }
    .trait-G-3{
        height: 1%;
        margin-top: 7%;
    }
    
    .trait-D-3{
        height: 1%;
        margin-top: 7%;
    }

    .footer{
        font-size: 3.1vw;
    }

    h3{
        font-size: 6vw;
    }

    h4{
        font-size: 2.5vw;
    }

    p{
        font-size: 2.3vw;
    }

}