@font-face {
    font-family: 'Devonshire';
    src: url('fonts/Devonshire-Regular.eot');
    src: url('fonts/Devonshire-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Devonshire-Regular.woff2') format('woff2'),
        url('fonts/Devonshire-Regular.woff') format('woff'),
        url('fonts/Devonshire-Regular.ttf') format('truetype'),
        url('fonts/Devonshire-Regular.svg#Devonshire-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Blokletters Balpen';
        src: url('fonts/Blokletters-Balpen.eot');
        src: url('fonts/Blokletters-Balpen.eot?#iefix') format('embedded-opentype'),
        url('fonts/Blokletters-Balpen.woff2') format('woff2'),
        url('fonts/Blokletters-Balpen.woff') format('woff'),
        url('fonts/Blokletters-Balpen.ttf') format('truetype'),
        url('fonts/Blokletters-Balpen.svg#Blokletters-Balpen') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    $color-primary: rgb(86, 156, 135);
    $color-secondary: rgb(252, 202, 70);
    $cd-btn-end: rgb(56, 126, 105);
    
    


    // header//--------------------->
header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $color-primary;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -10px;
    color: $color-secondary;
    width: 100%;
}
    // body//--------------------->
.container-titre{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
}

.container-menu{
    text-align: center;
    border: 2px black solid;
    background-color: #fcdfdb;
    margin: 0 20% 5% 20%;
    height: 1300px;
    padding-top: 3%;
    

    &__box{
        display: flex;
        width: 100%;

        &__txt{
            text-align: left;
            margin-left: 15%;
            width: 100%;
        }

        &__prix{
            text-align: left;
            font-weight: bold;
            width: 30%;
        }
    }
}

.note-logo{
    width: 100px;
    height: 110px;
}

.sous-T{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.trait{
    width: 26%;
    height: 10px;
    margin-top: 5%;
}

.note-logo-2{
    width: 65px;
    height: 70px;
}

body{
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
}

h3{
    font-family: 'Devonshire';
    font-size: 3.5em;
    margin-top: -0.5%;
}

h4{
    font-size: 1.5em;

    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background:black;
        transition: width .5s;
    }
    
    &:hover::after{
        width: 100%;
        transition: .5s;
    }
}



h4, p{
    font-family: 'Blokletters Balpen';
}

p{
    font-size:  0.8vw;
}

.box-note{
    display: flex;
    justify-content: center;
    margin: 5%;
}

#titre-bas{
    font-size: 40px;
    margin-top: 2%;
}

a{
    text-decoration: none;
    color: $color-secondary;
    
    &:hover{
        color: yellow;
    }
}
// bouton//--------------------->
.box{
    display: flex;
    justify-content: center;

        &__btn {
        background-color: $color-primary;
        text-align: center;
        width: 15%;
        margin-bottom: 8%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 30px;
        border-radius: 10px;
        font-family: Arial;
        color: $color-secondary;
        cursor: pointer;
        transition: transform 500ms, background-color 500ms;
        
            &:hover{
                transform: scale(1.15);
                background-color: $cd-btn-end; 
            }
        }
}

// footer//--------------------->
.footer{
    text-align: center;
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 25px;
    font-family: Arial;
    position: fixed;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;

    &__elmnt{
        animation: wiggle 3s (infinite);
        padding: 0 1% 0 1%;
    }
}

// Keyframes//--------------------->
@keyframes wiggle{
0% {transform: rotate(0deg)}
3% {transform: rotate(-2deg)}
4% {transform: rotate(2deg)}
5% {transform: rotate(0deg)}
100% {transform: rotate(0deg)}
}
// mediaqueries//--------------------->
@media screen and (min-width: 1351px) and (max-width: 1531px){
    
    .container-menu{
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1350px){
    body{
        width: 100%;
        margin: 0;
        padding: 1px 0 0 0;
    }

    header{
        letter-spacing: -5px;
    }

    .container-menu{
        margin: 0 15% 5% 15%;
        height: auto;
        
    
        &__box{
            width: 100%;
    
            &__txt{
                text-align: left;
                margin-left: 15%;
                width: 100%;
            }
    
            &__prix{
                width: 30%;
            }
        }
    }
    .container-titre{
        font-size: 2.3vw;
    }

    .box{
    
            &__btn {
            width: 15%;
            font-size: 2vw;
            }
    }

    .footer{
        font-size: 2vw;
    }

    .note-logo{
        width: 7vw;
        height: 8vw;
    }

    .note-logo-2{
        width: 4vw;
        height: 5vw;
    }

    #titre-bas{
        font-size: 3vw;
    }

    h3{
        font-size: 4vw;
    }

    h4{
        font-size: 1.5vw;
    }

    p{
        font-size: 1vw;
    }
    
}    

@media screen and (max-width: 767px){
    body{
        width: 100%;
        margin: 0;
        padding: 1px 0 0 0;
    }

    header{
        font-size: 9vw;
        letter-spacing: -2px;
    }

    .container-titre{
        font-size: 2.6vw;
    }

    .container-menu{
        margin: 0 0% 5% 0%;
        height: auto;
        
    
        &__box{
            width: 100%;
    
            &__txt{
                text-align: left;
                margin-left: 0%;
                width: 100%;
            }
    
            &__prix{
                width: 10%;
            }
        }
    }

    .box{
    
            &__btn {
            width: 15%;
            font-size: 3vw;
            }
    }

    .footer{
        font-size: 3.1vw;
    }

    .note-logo{
        width: 7vw;
        height: 8vw;
    }

    .note-logo-2{
        width: 4vw;
        height: 5vw;
    }

    #titre-bas{
        font-size: 4.5vw;
    }

    .trait{
        width: 26%;
        height: 5px;
        margin-top: 5%;
    }

    h3{
        font-size: 6vw;
    }

    h4{
        font-size: 2.5vw;
    }

    p{
        font-size: 2.3vw;
    }

}
